<div id="ac_container">
    {% if general and general.ac_units %}
        {% for ac in general.ac_units %}
            <div class="ac_entry">
                <h4>AC Unit {{ loop.index }}</h4>
                <div class="form-group">
                    <label>Location of AC Unit:</label>
                    <input type="text" class="form-control" name="location_of_ac_unit[]" value="{{ ac.location_of_ac_unit }}">
                </div>
                <div class="form-group">
                    <label>Working Status (Y/N):</label>
                    <input type="checkbox" name="working_status_ac_{{ loop.index0 }}" value="Yes" {{ 'checked' if ac.working_status else '' }}>
                </div>
                <div class="form-group">
                    <label>AC Make:</label>
                    <input type="text" class="form-control" name="ac_make[]" value="{{ ac.ac_make }}">
                </div>
                <div class="form-group">
                    <label>Capacity (Tons):</label>
                    <input type="number" step="any" class="form-control" name="capacity_tons[]" value="{{ ac.capacity_tons }}">
                </div>
                <div class="form-group">
                    <label>Type of AC:</label>
                    <input type="text" class="form-control" name="type_of_ac[]" value="{{ ac.type_of_ac }}">
                </div>
                <div class="form-group">
                    <label>Mount Type:</label>
                    <input type="text" class="form-control" name="mount_type[]" value="{{ ac.mount_type }}">
                </div>
                <div class="form-group">
                    <label>Date of Installation:</label>
                    <input type="date" class="form-control" name="date_of_installation_ac[]" value="{{ ac.date_of_installation }}">
                </div>
                <div class="form-group">
                    <label>Sequence Controller Installed:</label>
                    <input type="checkbox" name="sequence_controller_installed_{{ loop.index0 }}" value="Yes" {{ 'checked' if ac.sequence_controller_installed else '' }}>
                </div>
                <div class="form-group">
                    <label>AC Load:</label>
                    <input type="number" step="any" class="form-control" name="ac_load[]" value="{{ ac.ac_load }}">
                </div>
                <div class="form-group">
                    <label>Total AC Load:</label>
                    <input type="number" step="any" class="form-control" name="total_ac_load[]" value="{{ ac.total_ac_load }}">
                </div>
                <div class="form-group">
                    <label>Fault Nature of AC Unit:</label>
                    <input type="text" class="form-control" name="fault_nature_of_ac_unit[]" value="{{ ac.fault_nature_of_ac_unit }}">
                </div>
                <div class="form-group">
                    <label>Estimate to Repair AC:</label>
                    <input type="number" step="any" class="form-control" name="estimate_to_repair_ac[]" value="{{ ac.estimate_to_repair_ac }}">
                </div>
                <button type="button" class="btn btn-danger btn-sm mt-2 remove-ac">Remove AC</button>
            </div>
        {% endfor %}
    {% else %}
        <div class="ac_entry">
            <h4>AC Unit 1</h4>
            <div class="form-group">
                <label>Location of AC Unit:</label>
                <input type="text" class="form-control" name="location_of_ac_unit[]">
            </div>
            <div class="form-group">
                <label>Working Status (Y/N):</label>
                <input type="checkbox" name="working_status_ac_0" value="Yes">
            </div>
            <div class="form-group">
                <label>AC Make:</label>
                <input type="text" class="form-control" name="ac_make[]">
            </div>
            <div class="form-group">
                <label>Capacity (Tons):</label>
                <input type="number" step="any" class="form-control" name="capacity_tons[]">
            </div>
            <div class="form-group">
                <label>Type of AC:</label>
                <input type="text" class="form-control" name="type_of_ac[]">
            </div>
            <div class="form-group">
                <label>Mount Type:</label>
                <input type="text" class="form-control" name="mount_type[]">
            </div>
            <div class="form-group">
                <label>Date of Installation:</label>
                <input type="date" class="form-control" name="date_of_installation_ac[]">
            </div>
            <div class="form-group">
                <label>Sequence Controller Installed:</label>
                <input type="checkbox" name="sequence_controller_installed_0" value="Yes">
            </div>
            <div class="form-group">
                <label>AC Load:</label>
                <input type="number" step="any" class="form-control" name="ac_load[]">
            </div>
            <div class="form-group">
                <label>Total AC Load:</label>
                <input type="number" step="any" class="form-control" name="total_ac_load[]">
            </div>
            <div class="form-group">
                <label>Fault Nature of AC Unit:</label>
                <input type="text" class="form-control" name="fault_nature_of_ac_unit[]">
            </div>
            <div class="form-group">
                <label>Estimate to Repair AC:</label>
                <input type="number" step="any" class="form-control" name="estimate_to_repair_ac[]">
            </div>
            <button type="button" class="btn btn-danger btn-sm mt-2 remove-ac">Remove AC</button>
        </div>
    {% endif %}
</div>
<button type="button" class="btn btn-primary mt-2" id="add_ac">Add More AC</button>